.top-palette-container {
  display: flex;
  height: 8px;

  .red {
    flex: 1;
    background-color: #e74c3c;
  }

  .orange {
    flex: 1;
    background-color: #f39c12;
  }

  .light-green {
    flex: 1;
    background-color: #f1c40f;
  }

  .dark-green {
    flex: 1;
    background-color: #2ecc71;
  }

  .blue {
    flex: 1;
    background-color: #00bfa5;
  }
}
